
  .hidden {
    display:none;
  }

	/* add-btn */
	.planner-add-btn {
		margin-top: -2.7em;
	}
  /* save-btn */
  .planner-save-btn {
    margin-top: -2.7em;
  }


  .planner-a-details {
    font-size: 1.4rem;
  }

  a + label {
    position: relative;
    padding-left: 13px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    font-size: 1rem;
    -moz-user-select: none;
  }



	/* label color */
   .input-field label {
     /*color: #FFF;*/
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     /*color: #FFF;*/
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     /*border-bottom: 1px solid #FFF;
     box-shadow: 0 1px 0 0 #FFF;*/
   }